<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css" media="screen">
        ul {
            list-style: none;
            margin: 0px;
        }
        ul.error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
	{% block content %}
	  
	{% endblock %}
    </div>
</body>
</html>

